@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-blue-900 text-white;
    font-family: 'Josefin Sans', sans-serif;
  }
}

/* Scrollbar sutil (opcional) */
*::-webkit-scrollbar { width: 10px; height: 10px; }
*::-webkit-scrollbar-thumb { background: rgba(255,255,255,.25); border-radius: 999px; }
*::-webkit-scrollbar-track { background: transparent; }
